h1, .h1-style {
    width: 400px;
    margin: 0 auto;
    font-size: 2em;
    font-weight: bold;
    margin-top: 10px;
}
h1, .h2-style {
    width: 400px;
    margin: 0 auto;
    font-size: 2em;
    font-weight: bold;
    margin-top: 50px;
}
